@tailwind base;
@tailwind components;
@tailwind utilities;

.web-font {
  font-family: 'Poppins', sans-serif;
}

.drawer-side a.active {
  color:crimson;
}

.drawer-side a {
  background-color: transparent;
}
